/* Gives Identification Numbers a 'Table'-like Structure While Avoiding Using a Table for Accessibility Reasons */
.vat{ margin-bottom: 20px;}

.divTableCell {
    float: left;
}

/* Clear floats after the columns */
.divTableRow:after {
    content: "";
    display: table;
    clear: both;
}


/* Style of Accessibility Conformity (SHOULD BE MOVED TO OVERALL THEME*/
/*
.accessibility__conformity-complete {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;
    background-color: rgba(161, 238, 161, 0.432);
    border-color: rgb(163, 253, 213);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.accessibility__conformity-partial {
    text-align: left;
    padding: 0px;
    padding-right: 20px;
    background-color: rgba(243, 188, 37, 0.432);
    border-color: rgb(245, 203, 89);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.legalnotice__misuse-resources {
    text-align: left;
    padding-top: -10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 30px;
    margin-top:10px;
    background-color: rgba(180, 172, 172, 0.25);
    border-color: rgb(182, 184, 224);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
*/
}