<div lang="de">

    <h2>Sicherheitsvorf채lle</h2>

    <div>

        <h3>Meldung 체ber Missbrauch von Computer- und Netzwerk-Ressourcen</h3>

        <div>
            <p>
                Sollte Ihnen irgendeine Form von Missbrauch der Computer- und Netzwerk-Ressourcen an der FAU auffallen, <a href="https://www.rrze.fau.de/abuse/" target="_blank" rel="noopener noreferer">informieren Sie bitte umgehend die f체r IT-Sicherheit</a> zust채ndige Stelle am Regionalen Rechenzentrum Erlangen (RRZE).
            </p>
        </div>

    </div>
</div>