<h2>Reporting misuse of computers and network resources</h2>

        <p lang="en">
            Should you become aware of any kind of misuse of computers or network resources at FAU, 
            <a href="https://www.rrze.fau.de/person/abuse/">please inform the department responsible for computer 
            security</a> immediately.
        </p>