<div lang="en">

<h2>Security incidents</h2>

<div>

    <h3>Reporting misuse of computers and network resources</h3>

    <div>
        <p>
            Should you become aware of any kind of misuse of computers or network resources at FAU, <a href="https://www.rrze.fau.de/person/abuse/" target="_blank" rel="noopener noreferer">please inform the department responsible for computer security</a> immediately.
        </p>
    </div>
</div>