<h2>Sicherheitsvorf채lle</h2>

    <h3>Meldung 체ber Missbrauch von Computer- und Netzwerk-Ressourcen</h3>
        <p lang="de">
            Sollte Ihnen irgendeine Form von Missbrauch der Computer- und Netzwerk-Ressourcen an der FAU auffallen, 
            <a href="https://www.rrze.fau.de/abuse/">informieren Sie bitte umgehend die f체r IT-Sicherheit</a> 
            zust채ndige Stelle am Regionalen Rechenzentrum Erlangen (RRZE).
        </p>
