<div lang="de">
	<details>
		<summary>
			Betroffenenrechte
		</summary>
		<div>
			<h2>Rechte der betroffenen Person</h2>

			<div>
				<p>
					Hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten stehen Ihnen als einer betroffenen Person die nachfolgend genannten Rechte gemäß Art. 15 ff. <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr> zu:
				</p>
					<ul>
						<li>
							Sie können <strong>Auskunft</strong> darüber verlangen, ob wir personenbezogene Daten von Ihnen verarbeiten.
							Ist dies der Fall, so haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten sowie auf weitere mit der Verarbeitung zusammenhängende Informationen (Art. 15 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>).
							Bitte beachten Sie, dass dieses Auskunftsrecht in bestimmten Fällen eingeschränkt oder ausgeschlossen sein kann (vgl. insbesondere Art. 10 BayDSG).
						</li>

						<li>
							Für den Fall, dass personenbezogene Daten über Sie nicht (mehr) zutreffend oder unvollständig sind, können Sie eine <strong>Berichtigung</strong> und gegebenenfalls <strong>Vervollständigung</strong> dieser Daten verlangen (Art. 16 DSGVO).
						</li>

						<li>
							Bei Vorliegen der gesetzlichen Voraussetzungen können Sie die <strong>Löschung</strong> Ihrer personenbezogenen Daten (Art. 17 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>) oder die <strong>Einschränkung der Verarbeitung</strong> dieser Daten (Art. 18 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>) verlangen.
							Das Recht auf Löschung nach Art. 17 Abs. 1 und 2 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr> besteht jedoch unter anderem dann nicht, wenn die Verarbeitung personenbezogener Daten zur Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt (Art. 17 Abs. 3 Buchst. b <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>).
						</li>

						<li>
							Sie haben das Recht, soweit Sie eine Einwilligung in die Verarbeitung gegeben haben, diese jederzeit zu widerrufen.
							Der Widerruf wirkt erst für die Zukunft; das heißt, durch den Widerruf wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitungen nicht berührt.
						</li>

						<li>
							<strong>Aus Gründen, die sich aus Ihrer besonderen Situation ergeben, können Sie der Verarbeitung Sie betreffender personenbezogener Daten durch uns zudem jederzeit widersprechen (Art. 21 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>).</strong> Sofern die gesetzlichen Voraussetzungen vorliegen, verarbeiten wir in der Folge Ihre personenbezogenen Daten nicht mehr.
						</li>

						<li>
							Soweit Sie in die Verarbeitung eingewilligt haben oder zur Vertragserfüllung erfolgt und die Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls ein Recht auf Datenübertragbarkeit zu (Art. 20 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>).
						</li>

						<li>
							Sie haben das Recht, sich bei einer Aufsichtsbehörde im Sinn des Art. 51 <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr> über die Verarbeitung Ihrer personenbezogenen Daten zu beschweren.
							Zuständige Aufsichtsbehörde für bayerische öffentliche Stellen: {{ data_commissioner_title }}, {{ data_commissioner_address }}, {{ data_commissioner_plz }} {{ data_commissioner_city }}.
						</li>
					</ul>
			</div>
		</div>
	</details>
</div>