<details>
	<summary>
		Rights of the data subject
	</summary>
	<div>
		<h2>Rights of the data subject</h2>

			<p>
				Regarding the processing of your personal data, you as a data subject are entitled to the following rights
				under Art. 15 et seq. <abbr title="General Data Protection Regulation">GDPR</abbr>:
			</p>
				<ul>
					<li>
						You can <strong>request information</strong> as to whether we process your personal data. If this is
						the case, you have the right to information about this personal data as well as further information
						related to their processing (Art. 15 <abbr title="General Data Protection Regulation">GDPR</abbr>).
						Please note that this right of access may be restricted or excluded in certain cases (see in
						particular Art. 10 BayDSG).
					</li>
					<li>
						In case personal data about you is incomplete or not/no longer accurate, you may request that
						this data be <strong>revised</strong> and, if necessary, <strong>completed</strong> (Art. 16
						<abbr title="General Data Protection Regulation">GDPR</abbr>).
					</li>
					<li>
						Provided legal requirements are met, you can request the <strong>deletion</strong> of your personal
						data (Art. 17 <abbr title="General Data Protection Regulation">GDPR</abbr>) or that the <strong>
						processing of this data be restricted</strong> (Art. 18
						<abbr title="General Data Protection Regulation">GDPR</abbr>). However, the right to erasure pursuant
						to Art. 17 (1) and (2) <abbr title="General Data Protection Regulation">GDPR</abbr> does not apply,
						inter alia, if the processing of personal data is necessary for the performance of a task carried out
						in the public interest, the exercise of official authority, or in the exercise of vested official
						authority (Art. 17 para. 3 letter b <abbr title="General Data Protection Regulation">GDPR</abbr>).
					</li>
					<li>
						If you have given your consent to the processing of your personal data, you have the right to withdraw
						it at any time. The withdrawal will only take effect for the future; therefore, it does not affect the
						lawfulness of the processing operations conducted based on consent before its withdrawal.
					</li>
					<li>
						<strong>For reasons arising from your particular situation, you may also object to the processing of
						your personal data carried out by us at any time (Art. 21 <abbr title="General Data Protection Regulation">
						GDPR </abbr>).</strong> We will no longer process your personal data, provided the legal requirements are
						met.
					<li>
						Insofar as you have consented to the processing of your personal data or have agreed to the performance of
						the contract and the data processing is conducted using automated procedures, you may be entitled to data
						portability (Art. 20 <abbr title="General Data Protection Regulation">GDPR</abbr>).
					</li>
					<li>
						You have the right to lodge a complaint to a supervisory authority within the meaning of Art. 51
						<abbr title="General Data Protection Regulation">GDPR</abbr> about the processing of your personal data.
						The responsible supervisory authority for Bavarian public authorities is the {{ data_comm_title_en }},
						{{ data_comm_address }}, {{ data_comm_plz }} {{ data_comm_city_en }}.
					</li>
				</ul>
	</div>
</details>